

body{ 

    background-image: url(slide3.jpg);
    background-size: 100%;


}


.heading{display: inline-flex;
    font-family: 'Bebas Neue', cursive;
font-size: 5vw;
color: #98ddca;

    margin-top: 200px;
    margin-left: 20%;
}


.start{  margin-left: 47%;

}

.but{
    cursor: pointer;
    transition-duration: 0.4s;

    font-size: 50px;
    background-color: inherit; 
    color: #d5ecc2; 
    border: 2px solid #ffd3b4;
    font-family: 'Montserrat', sans-serif;
  }
  
  .but:hover {
    background-color: #ffaaa7;
    color: white;
  }



  #type{margin-left: 5.3%;
    margin-top: 100px;

  
    
        font-family: 'Roboto', sans-serif;
        color: #333;
        font-size: 1.2rem;

        padding: 1.5rem 2rem;
        border-radius: 0.2rem;
        background-color: rgb(255, 255, 255);
        border: none;
        width: 90%;
        display: block;
        border-bottom: 0.3rem solid transparent;
        transition: all 0.3s;
      
  }

 

  #speed{font-size: 5vw; color: #ed9121; }

  .timer{ font-size: 5vw;

    font-family: 'Roboto', sans-serif;

color: #d5ecc2;
margin-top: 20px;
margin-left: 50%;
margin-right:44% ;






border :1px solid #d5ecc2}


.final2{ visibility: hidden; }
.final1{


    font-size: 3.6vw;
    margin-left: 25%;
    font-family: 'Arbutus Slab', serif;
        transition: linear;
        color:white;
        animation: abc 1s ease-in-out;
        margin-top: -450px;
        border: 1px solid white;
        margin-right: 20%;
    

 background-size: 100%;
    
    
    }
    
    @keyframes abc{
    
    
    from{ margin-top: 200px;}
    
    to { margin-top: -450px;}
    
    
}

#words{
margin-left: 25%;
margin-right: 20%;


    font-size: 30px;
    font-size: 'Roboto', sans-serif;
    color: #ffaaa7;
    margin-top: 60px;
    border: 1px solid #d5ecc2;



}

.correct {
    color: #beca5c
  }
  
  .incorrect {
    color: #cc561e;
    text-decoration: underline;
  }
 span{ display: inline-flex; padding-left: 15px;}